{% extends "base.html" %}

{% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <p class="title has-text-white">
				DiscoveredSaver
			</p>
            <p class="subtitle has-text-ter is-paddingless">
    			Stop missing your Discover Weekly playlists.
			</p>
            <div class="container is-fluid">
              <a class="button is-medium is-rounded is-success" href="/connect-spotify">Sign in with Spotify</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}