{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ username }}, welcome back!</h1>

<p>Do you want to save your playlist?</p>

<a href="/save-playlist/{{username}}">Click here to save your current Discover Weekly as a standalone playlist.</a>
<br>
<br>
<a href="/save-to-monthly-playlist/{{username}}">Click here to add your current Discover Weekly to a monthly Discover Weekly playlist (which will be created if it doesn't exist).</a>

<p>You can turn on/off recurring weekly and monthly saves of your Discover Weekly below.</p>

<form action ="/settings" method="POST">
<input type="checkbox" name="weekly" value="weekly" {{weekly_checkbox}}> Weekly <br/>
<input type="checkbox" name="monthly" value="monthly" {{monthly_checkbox}}> Monthly </br>
<br/>
<input type="submit" value="Save">
</form>

{% endblock %}