{% extends "base.html" %}

{% block content %}
<div class="hero-body">
    <div class="column">
        <div class="box has-text-centered">
            <div class="content is-medium">
                <h1 class="title is-4 has-text-black">
                    Hi, {{ username }}, welcome to DiscoveredSaver!
                </h1>
            </div>               
            <div class="level section">
				<div class="level-item">
					<a class="button is-success is-fluid" href="/save-playlist/{{username}}"">Save Discover Weekly</a>                         
				</div>
				<div class="level-item">
    				<strong>OR</strong>
				</div>
				<div class="level-item">
    				<a class="button is-success is-fluid" href="/save-to-monthly-playlist/{{username}}">Save to "Discover Monthly"</a>                          
				</div>                            
			</div>               
        </div>
    </div>
</div>
{% endblock %}